body {
 background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    margin: 0 auto;
    max-width: 80%;
    padding: 2em 2em 4em;
    
}
h2 {

    color: navy;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} 
address {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  

}
.navbar {
  min-width: max-content;
  background-color: rgb(0, 107, 179);
  height: 40px;
  
  
}
.mainheader {
		text-align: left; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  color: navy;
  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p{
  color: black;
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 img {
  width: 250px; 
  height: 100%; 
  object-fit: scale-down; 
  border: 1px solid #ddd;
}
figure{
  padding-top: 20px;
  border: 0px;
  margin: 0px;
}
 .mainbar {
   
  color: white;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 
 .mainitem {
  color: white;
  float: left;
  width: 200px; 
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
 }
 
 .mainitemtext {
  color:rgb(153, 255, 235);
   font-weight: bold ;
  text-decoration: none;
  display: block; 
  background-color: rgb(0, 107, 179);
 }
 
 .mainitemtexthover a:hover {
  background-color:lightblue;
 }
 
 .dropitem {
  display: none;
 }
 
 nav ul li:hover ul li {
  display: block;
  
 }

 table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
	text-align: left;
}

td, th {
	padding: 5px 10px;
}