body {
 background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 80%;
    padding: 2em 2em 4em;
}
.mainheader {
		text-align: center; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  color: navy;
  margin-left: 20px;
}
